test:
  service: Disk
  root: <%= Rails.root.join("tmp/storage") %>

local:
  service: Disk
  root: <%= Rails.root.join("storage") %>

# Use rails credentials:edit to set the AWS secrets (as aws:access_key_id|secret_access_key)
# amazon:
#   service: S3
#   access_key_id: <%= Rails.application.credentials.dig(:aws, :access_key_id) %>
#   secret_access_key: <%= Rails.application.credentials.dig(:aws, :secret_access_key) %>
#   region: us-east-1
#   bucket: your_own_bucket

# Remember not to checkin your GCS keyfile to a repository
# google:
#   service: GCS
#   project: your_project
#   credentials: <%= Rails.root.join("path/to/gcs.keyfile") %>
#   bucket: your_own_bucket

# google:
#   service: GCS
#   credentials:
#     type: "service_account"
#     project_id: <%= Rails.application.credentials.gcs[:cloud][:project_id] %>
#     private_key_id: <%= Rails.application.credentials.gcs[:cloud][:private_key_id] %>
#     private_key: <%= Rails.application.credentials.gcs[:cloud][:private_key] %>
#     client_email: <%= Rails.application.credentials.gcs[:cloud][:client_email] %>
#     client_id: <%= Rails.application.credentials.gcs[:cloud][:client_id] %>
#     auth_uri: "https://accounts.google.com/o/oauth2/auth"
#     token_uri: "https://accounts.google.com/o/oauth2/token"
#     auth_provider_x509_cert_url: "https://www.googleapis.com/oauth2/v1/certs"
#     client_x509_cert_url: <%= Rails.application.credentials.gcs[:cloud][:client_x509_cert_url] %>
#   project: "zero-calorie-app"
#   bucket: "meal_pictures"

# Use rails credentials:edit to set the Azure Storage secret (as azure_storage:storage_access_key)
# microsoft:
#   service: AzureStorage
#   storage_account_name: your_account_name
#   storage_access_key: <%= Rails.application.credentials.dig(:azure_storage, :storage_access_key) %>
#   container: your_container_name

# mirror:
#   service: Mirror
#   primary: local
#   mirrors: [ amazon, google, microsoft ]
