body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  background-color: #E7E7E7;
  // background-color: white;
}

header {
  background-color: #FDB965;
}

footer {
  background-color: #FDB965;
}

.ui.button {
  background-color: white;
}