#search-camera-icon {
  margin-left: 1em;
}
#search-by-picture-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 80%;
  position: absolute;
  text-align: center;
  transform: translateY(-50%);
  transform:translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  overflow: scroll;
}
// #search-by-picture-select-button {
//   margin-top: 1em;
//   display: inline-block;
//   padding: 0.5em 1em;
//   text-decoration: none;
//   background: #668ad8;/*ボタン色*/
//   color: #FFF;
//   border-bottom: solid 4px #627295;
//   border-radius: 3px;
// }

// #search-by-picture-select-button:active {
//   /*ボタンを押したとき*/
//   -webkit-transform: translateY(4px);
//   transform: translateY(4px);/*下に動く*/
//   border-bottom: none;/*線を消す*/
// }

#search-by-picture-submit-button {
  margin-top: 1em;
}
#search-picture-preview {
  height: 40em;
}
#search-picture-preview img {
  margin-top: 1em;
  width: 80%;
  height: 80%;
}
