#top-logo-image {
  width: 80%;
}
#top-image-1 {
  width: 100%;
}
#top-image-2 {
  width: 100%;
}
#top-image-3 {
  width: 100%;
}

#or-button-for-top-page:before {
  background-color: whitesmoke;
}

.ui.stackable.very.relaxed.two.column.grid {
  letter-spacing: 0.05em;
}
.ui.center.aligned.basic.segment {
  letter-spacing: 0.05em;
}